<launch>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video2" />
    <param name="camera_frame_id" value="front_camera_link" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="framerate" value="10" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_info_url" value="package://rr_auto_dock/misc/ost.yaml"/><!--not sure if this is working-->
   <!-- <remap from="/usb_cam/teleop_cam" to="/camera"/>
    <remap from="/usb_cam/camera_info" to="/camera_info"/>-->
  </node>

</launch>
